@import "../reindeer/styles.css";

@import "button/button.css";
@import "window/window.css";
@import "layout/layout.css";

.v-sa .v-app,
.v-sa .v-window,
.v-sa .v-popupview-popup,
.v-sa .v-tooltip,
.v-sa .v-app input,
.v-sa .v-app select,
.v-sa .v-app button,
.v-sa .v-app textarea,
.v-sa .v-window input,
.v-sa .v-window select,
.v-sa .v-window button,
.v-sa .v-window textarea,
.v-sa .v-popupview-popup input,
.v-sa .v-popupview-popup select,
.v-sa .v-popupview-popup button,
.v-sa .v-popupview-popup textarea,
.v-sa .v-filterselect-suggestpopup,
.v-sa .v-datefield-popup,
.v-sa .v-contextmenu,
.v-Notification,
.v-menubar-submenu {
	font-family: Arial, Helvetica, "Lucida Grande", Geneva, Tahoma, Verdana, sans-serif;
}

/********************************
 Table
********************************/

.v-table-cell-wrapper {
	white-space: normal;
	}

.v-table-body{
 overflow: hidden !important;
	}

/********************************
 TabSheet
********************************/

.v-tabsheet-tabs {
	font-weight: bold;
	font-size: 15px;
	text-shadow: 2 3px 0 #e7e9e9;
	}